<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_base"
>

<!--######################################################################-->
<!-- Base link definition -->

<link name="base_link">
    <!-- Geometric Definitions for visualization -->
    <visual>
        <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 3.14" />
        <geometry>
            <mesh filename="package://robot_description/meshes/robot_base.stl"/>
        </geometry>
        <material
        name="">
        <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
    </visual>
</link>

<!--######################################################################-->
<!-- Wheels definitions -->

<xacro:robot_wheel prefix="front_left"/>
<xacro:robot_wheel prefix="front_right"/>
<xacro:robot_wheel prefix="rear_left"/>
<xacro:robot_wheel prefix="rear_right"/>
<!--######################################################################-->


</robot>